# Meeting around

For any given pair of uid s, determine when and where they could have met each other as
they moved through the building. Please state your assumptions about what would constitute
a “meeting.” Note that the coordinates can be assumed to be 1 unit = 1 meter.

## Design Rationale

When I'm about to work with Data I usually split the work in two parts: Exploration and Optimisation

### Exploration

I try to get some intuition about the dataset. What is it about? What are features? Is it clean or do I need to pre-process it somehow? 

In terms of tooling, I know two different ecosystems R and Python. I like and know Python better so I will go for it and that's why you are reading this notebook. I could probably do the same job with Rmarkdown but I would be less efficient.

### Optimisation

Once I will get a proper sense of the solution I will implement it in a more optimised way and with a faster language. The technological choice is often influenced by the company policy. If everybody codes in Java it would be Java. Today, this my choice so I will pick Scala because I really like the functional programming paradigm.

> **What is following is the Exploration part**

## Prerequesite

* Python 3
* VirtualEnv

## Load the libraries

In [3]:
import pandas as pd

## Load the dataset

In [5]:
df = pd.read_csv('reduced.csv')

In [6]:
# Gives an overview of the dataset
df.describe()

                  x             y         floor
count  2.228820e+06  2.228820e+06  2.228820e+06
mean   9.407508e+01  7.510458e+01  2.146474e+00
std    1.926607e+01  1.173587e+01  8.091698e-01
min    4.370297e+01  4.249453e+01  1.000000e+00
25%    8.122764e+01  6.622363e+01  1.000000e+00
50%    1.042032e+02  7.115138e+01  2.000000e+00
75%    1.080260e+02  8.643411e+01  3.000000e+00
max    1.150819e+02  1.027560e+02  3.000000e+00

In [7]:
df.head()

                  timestamp           x           y  floor       uid
0  2014-07-19T16:00:06.071Z  103.792110   71.504194      1  600dfbe2
1  2014-07-19T16:00:06.074Z  110.336130  100.682839      1  5e7b40e1
2  2014-07-19T16:00:06.076Z  110.066315   86.488736      1  285d22e4
3  2014-07-19T16:00:06.076Z  103.784990   71.456331      1  74d917a1
4  2014-07-19T16:00:06.076Z  109.094950   92.824487      1  3c3649fb

## My assumptions
TBD

## Helpers

In [11]:
def get_subset(df, a, b):
    """
    Returns a subset of DataFrame for user a and user b (data are duplicated to preserve the source)
    :param df: dataset
    :type board: pandas.core.frame.DataFrame
    :param a: a first user id
    :type a: str
    :param b: state of the current game
    :type b: a second user id
    """
    assert a != b, "uids should be different"
    return df[(df.uid == a) | (df.uid == b)].copy()

## Extract a subset of the dataset for 2 user
On one hand it is helping me to get a better intuition of the dataset. 
On the other hand, it will improve the next operations in terms of space and processing time. N is smaller.
(I know I still have "df" in memory but let's assume it is not ;) )

In [10]:
a = '600dfbe2'
b = '5e7b40e1'

In [12]:
subset = get_subset(df, a, b)

In [14]:
# the following assertion must be True
subset.count() == df[df.uid == a].count() + df[df.uid == b].count()

timestamp    True
x            True
y            True
floor        True
uid          True
dtype: bool